@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in {
    @apply opacity-0; /* Start with hidden */
    animation: fade-in 1s ease-in forwards; /* Fade in animation */
  }
}
