---
import Udstillinger from "../components/Udstillinger.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Udstillinger2 from "../components/Udstillinger2.astro";
import Anmeldelser from "../components/Anmeldelser.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";

import "../styles/tailwind.css";
---

<!-------------------------- MAINLAYOUT HER ---------------------->
<MainLayout title="Flora Yukhnovich - Into the Woods">
  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <div class="custom-cursor"></div>
  <div id="scroll-container" class="flex overflow-x-auto h-screen w-full">
    <h1
      id="fixed-title"
      class="z-[-1] text-black fixed inset-0 flex items-center justify-center font-cormorant italic font-light text-[16vw] whitespace-nowrap tracking-extra-tight pointer-events-none"
    >
      Flora Yukhnovich
    </h1>
    <div id="start" class="flex items-center w-screen h-screen justify-center">
      <h2
        class="mt-14 font-manrope font-light text-[6vw] text-center w-screen tracking-tight pt-[12vw]"
      >
        Into the Woods
      </h2>
    </div>
    <h3 class="font-manrope whitespace-nowrap text-2xl text-accent mt-20 mx-32">
      18 Sep. 24 – 19 Jan. 25
    </h3>

    <section
      id="theartist"
      class="flex h-screen flex-shrink-0 w-auto justify-center items-end mx-32 -mt-16"
    >
      <img src="/img1.webp" alt="" class="h-4/6" />
      <div class="">
        <p class="max-w-prose">
          Flora Yukhnovich (b. 1990) is a British artist celebrated for her
          distinctive fusion of figuration and abstraction, with Rococo as a
          central influence. After transitioning from a background in graphic
          design to painting, she completed an MA at City & Guilds of London Art
          School. Her work explores themes of femininity and materiality,
          blending elements of high and low culture. Yukhnovich’s paintings are
          known for their sensuous and fluid compositions, where she
          reinterprets historical artistic styles through a contemporary lens.
        </p>
      </div>
    </section>

    <section
      id="theartwork"
      class="flex-shrink-0 h-screen flex justify-center items-center"
    >
      <img src="/blomst1.webp" alt="" class="h-screen self-end" />
      <p class="font-manrope text-lg p-10 w-[700px]">
        With Into the Woods, Ordrupgaard proudly presents Flora Yukhnovich in
        her first museum exhibition outside the UK.<br /><br /> Known for her rising
        prominence in the art world, Yukhnovich brings together Rococo-inspired aesthetics
        and a modern sensibility that blurs the boundaries between fine art and popular
        culture. <br /><br /> The exhibition invites visitors into a fantastical,
        enchanted forest where the conscious and unconscious meet. Here, historical
        and contemporary references intertwine—from classical figures like Venus
        to modern icons such as Nicki Minaj—with the female body serving as a central
        theme. Through her evocative visual language, Yukhnovich transcends traditional
        genre boundaries, offering an immersive and thought-provoking experience.
      </p>
    </section>

    <section
      class="flex-shrink-0 w-screen p-1 items-center flex justify-center mr-40 z-10"
    >
      <div class="w-1/2 relative group">
        <img src="/img2.webp" alt="kunst" class="w-full h-auto" />
        <div
          class="m-2 absolute inset-0 flex items-end justify-left bg-opacity-50 text-white p-4 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-lg font-manrope font-light"
            >Flora Yukhnovich, Capriccio, 2019</span
          >
        </div>
      </div>
    </section>

    <section
      class="flex-shrink-0 flex flex-col justify-center items-center h-screen"
    >
      <div class="-mt-10">
        <img src="/blomst3.png" alt="blad" class="w-auto h-80" />
      </div>
      <div class="flex flex-col gap-2 -mt-14 ml-20">
        <div>
          <img
            src="/quotemark.svg"
            alt=""
            class="h-20 p-2 rotate-180 self-start"
          />
        </div>
        <banner class="text-7xl font-manrope font-light px-16">
          I think of nature as something both accidental and deliberate in the
          painting process.
        </banner>
      </div>
      <div class="w-96 self-start ml-[90vw] -mt-6">
        <img src="/blomst2.png" alt="blomst" class="w-auto h-48" />
      </div>
    </section>

    <section
      class="flex-shrink-0 h-screen flex items-end justify-center gap-4 flex-col pl-56"
    >
      <div class="">
        <img src="/img4.webp" alt="kunst" class="w-64 h-auto" />
      </div>
      <div class="">
        <img src="/img3.webp" alt="kunst" class="w-64 h-auto" />
      </div>
    </section>

    <section class="flex-shrink-0 w-screen h-screen flex items-center">
      <div class="p-4 flex flex-col justify-center h-screen">
        <p class="w-[650px] font-manrope">
          Several of Yukhnovich’s portrayals of women are accompanied by titles
          that refer to delicious desserts. She thereby creates a slightly
          ironic distance to the erotic objectification of women which can be
          seen in many Rococo paintings. The title of this work, A Glass and a
          Half, has its origin in a slogan used by the British chocolate
          manufacturer, Cadbury. <br /><br />
          The slogan ‘A Glass and a Half’ was introduced by Cadbury in 1928 to emphasise
          the extra high milk content of their chocolate bars, presenting them as
          the creamiest on the market. On the right, In A Glass and a Half, Yukhnovich
          takes her point of departure in a painting by the French Rococo painter
          Jean-Honoré Fragonard. This painting, which hangs in the Louvre in Paris,
          depicts the story of the crusader Rinaldo in Armida’s enchanted gardens.
        </p>
      </div>
    </section>

    <div class="flex justify-end items-center h-screen w-48">
      <div class="overflow-hidden h-full relative">
        <div class="animate-scroll h-full">
          <p
            class="rotate-90 text-8xl font-light tracking-widest whitespace-nowrap"
          >
            The rococo has become a vehicle for me to reflect on my experience
            of being a woman.
          </p>
        </div>
      </div>
    </div>

    <section class="flex-shrink-0 w-screen h-screen flex items-center">
      <div class="p-4 w-max">
        <img src="/img5.webp" alt="" class="w-full h-auto" />
      </div>
      <div class="w-max p-4">
        <img src="/img6.webp" alt="" class="w-full h-auto" />
      </div>
      <div class="w-max p-4">
        <img src="/img7.webp" alt="" class="w-full h-auto" />
      </div>
    </section>

    <!-- <section class="flex-shrink-0 w-screen h-screen  flex items-center">
      <div class="w-full p-4">
        <img
          src="src/assets/images/img8.webp"
          alt="kunst"
          class="w-full h-auto"
        />
      </div>
      <div class="p-4 flex flex-col h-screen w-screen">
        <h1 class="font-manrope text-sm">Seksjon 5</h1>
        <p class="font-manrope">
          The work Minuet is based on a painting by the Italian Rococo painter
          Giovanni Domenico Tiepolo. The painting, which hangs in the Louvre in
          Paris, depicts a dancing couple surrounded by masked spectators. The
          title, Minuet, refers specifically to a special, elegant dance for
          couples that dominated the aristocratic ballrooms of Europe from ca.
          1650–1750.
        </p>
        <p class="pt-2 font-manrope">
          In the work, Yukhnovich has also incorporated figures from the French
          Rococo painter Antoine Watteau’s depictions of commedia dell’arte.
          Commedia dell’arte is an Italian theatre form that originated in the
          16th century and is characterised by improvisation, comedic characters
          and masked figures such as Harlequin, Pierrot and Columbine.
        </p>
      </div>
    </section> -->

    <section class="flex-shrink-0 flex items-center">
      <div class="w-full p-4">
        <img
          src="/img8.webp"
          alt="kunst"
          class="object-cover w-screen h-screen transform"
        />
      </div>
      <div class="p-4 flex flex-col h-screen w-screen">
        <h1 class="font-manrope text-sm">Seksjon 5</h1>
        <p class="">
          The work Minuet is based on a painting by the Italian Rococo painter
          Giovanni Domenico Tiepolo. The painting, which hangs in the Louvre in
          Paris, depicts a dancing couple surrounded by masked spectators. The
          title, Minuet, refers specifically to a special, elegant dance for
          couples that dominated the aristocratic ballrooms of Europe from ca.
          1650–1750.
        </p>
        <p class="pt-2">
          In the work, Yukhnovich has also incorporated figures from the French
          Rococo painter Antoine Watteau’s depictions of commedia dell’arte.
          Commedia dell’arte is an Italian theatre form that originated in the
          16th century and is characterised by improvisation, comedic characters
          and masked figures such as Harlequin, Pierrot and Columbine.
        </p>
      </div>
    </section>

    <section class="flex-shrink-0 w-screen h-screen flex items-center">
      <div class="w-1/2 p-4">
        <img src="/img9.webp" alt="kunst" class="w-full h-auto" />
      </div>
      <div class="w-1/2 p-4">
        <img src="/img10.webp" alt="kunst her" class="w-full h-auto" />
      </div>
    </section>

    <section
      class="flex-shrink-0 w-screen h-screen p-9 flex flex-col justify-center items-center"
    >
      <h1 class="font-manrope text-sm">Seksjon 6</h1>
      <p class="text-3xl p-10">
        <section
          class="flex-shrink-0 w-screen h-screen p-9 flex flex-col justify-center items-center"
        >
          <h1 class="font-manrope text-sm">Seksjon 2</h1>
          <p class="text-xl p-10 font-manrope">
            As you reach the end of this journey through Into the Woods, Flora
            Yukhnovich's captivating exploration of art history and contemporary
            culture, we invite you to experience these works in person. Step
            into the enchanted forest she has created, where the boundaries
            between fantasy and reality, past and present, dissolve. Whether
            you're drawn to the elegance of Rococo or intrigued by the blend of
            mythological and modern icons, Yukhnovich’s art offers a sensory
            experience that is both thought-provoking and visually stunning.
            Visit Ordrupgaard to immerse yourself in this unique exhibition and
            see how Yukhnovich reimagines the world of art for a new generation.
            Click here for futher information about the exhibition including
            prices and opening hours.
          </p>
        </section>
      </p>
    </section>

    <section
      class="flex-shrink-0 w-screen h-screen flex flex-col justify-center items-center"
    >
      <img src="/Blomst4.png" alt="blomst" />
    </section>

    <section
      id="review"
      class="flex-shrink-0 w-full h-screen flex justify-center items-center"
    >
      <div class="flex justify-center items-end pb-14 h-full p-4">
        <p class="[writing-mode:vertical-lr] font-manrope text-5xl">Reviews</p>
      </div>
      <div class="grid grid-cols-2 w-[60vw] justify-start gap-6">
        <Anmeldelser
          anmelder="Kristeligt Dagblad"
          stjerner="★★★★★"
          omtale="Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen."
        />
        <Anmeldelser
          anmelder="BT"
          stjerner="★★★★☆"
          omtale="Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen."
        />
        <Anmeldelser
          anmelder="Villabyerne"
          stjerner="★★★★★"
          omtale="Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen."
        />
        <Anmeldelser
          anmelder="Politiken"
          stjerner="★★☆☆☆"
          omtale="Her fejrer man, at impressionismen i år fylder 150, med en udstilling af meget nye og relativt store malerier af den engelske kunstner Flora Yukhnovich (f. 1990), der, ligesom impressionisterne gjorde, danser kinddans med rokokoen. Og ja, de malerier maler sig ind i kunsthistorien og i rokokotraditionen for fête galante-motiverne. Tjek"
        />
        <Anmeldelser
          anmelder="Kunstkritik"
          stjerner="★★★★☆"
          omtale="Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen."
        />
        <Anmeldelser
          anmelder="Berlingske"
          stjerner="★★★★★"
          omtale="Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen."
        />
      </div>
    </section>

    <section
      class="flex-shrink-0 h-screen flex justify-center items-center pr-56"
    >
      <Nyhedsbrev />
      <p></p>
    </section>

    <section
      class="flex-shrink-0 h-screen flex justify-center items-center mt-14"
    >
      <div class="flex justify-center items-end pb-14 h-full p-4">
        <p class="[writing-mode:vertical-lr] font-manrope text-5xl">Previous</p>
      </div>
      <Udstillinger2 />
      <p></p>
    </section>
  </div>

  <script>
    //----------------------scroll-hori--------------------------//
    const scrollContainer = document.getElementById("scroll-container");

    window.addEventListener(
      "wheel",
      (event) => {
        scrollContainer.scrollLeft += event.deltaY;

        event.preventDefault();
      },
      { passive: false }
    );
    //----------------------custom-mouse--------------------------//

    const customCursor = document.querySelector(".custom-cursor");

    let cursorX = 0,
      cursorY = 0;
    let mouseX = 0,
      mouseY = 0;

    document.addEventListener("mousemove", (e) => {
      mouseX = e.pageX;
      mouseY = e.pageY;
    });

    function animateCursor() {
      cursorX += (mouseX - cursorX) * 0.1;
      cursorY += (mouseY - cursorY) * 0.1;

      customCursor.style.left = `${cursorX}px`;
      customCursor.style.top = `${cursorY}px`;

      requestAnimationFrame(animateCursor);
    }
    animateCursor();

    //--------------------blur????--------------//
    const fixedTitle = document.getElementById("fixed-title");
    const blurThreshold = 1000;

    document
      .getElementById("scroll-container")
      .addEventListener("scroll", () => {
        if (
          document.getElementById("scroll-container").scrollLeft > blurThreshold
        ) {
          fixedTitle.classList.add("blur");
        } else {
          fixedTitle.classList.remove("blur");
        }
      });
  </script>
</MainLayout>

<!-------------------------- STYLE ---------------------->
<style>
  body {
    cursor: none;
  }

  .custom-cursor {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #517587;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease;
  }
  /* .animate-scroll {
    display: flex;
    flex-direction: column;
    animation: scroll 20s linear infinite;
  } */

  .animate-scroll {
    display: flex;
    flex-direction: column;
    animation: scroll 20s infinite linear;
  }

  @keyframes scroll {
    0% {
      transform: translateY(110%); /* Start completely below the container */
    }
    100% {
      transform: translateY(-420%); /* Exit above the container */
    }
  }

  /*----------blur???-----------*/
  #fixed-title {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: filter 2s ease; /* Smooth blur transition */
  }
</style>
