---
import Udstillinger from "../components/Udstillinger.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/tailwind.css";
---

<MainLayout title="Flora Yukhnovich - Into the Woods">
  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    rel="stylesheet"
  />

  <div class="custom-cursor"></div>

  <div id="scroll-container" class="flex overflow-x-auto h-screen">
    <h1
      class="fixed inset-0 flex items-center justify-center font-cormorant italic font-light text-9xl whitespace-nowrap tracking-extra-tight z-10 pointer-events-none"
    >
      Flora Yukhnovich
    </h1>
    <div
      class="flex flex-col items-center justify-center w-screen h-screen p-80"
    >
      <h2 class="font-manrope font-light text-5xl z-20">Into the Woods</h2>
    </div>
    <h3 class="p-10 whitespace-nowrap text-xl">18 Sep. 24 – 19 Jan. 25</h3>
    <section class="flex-shrink-0 w-screen h-screen p-96 flex items-center">
      <div class="w-1/2 p-4">
        <img src="" alt="kunst her" class="w-full h-auto rounded-lg" />
      </div>
      <div class="w-1/2 p-4 flex flex-col justify-center">
        <h1 class="font-manrope text-sm">Seksjon 1</h1>
        <p class="mt-4">
          Flora Yukhnovich (b. 1990) is a British artist celebrated for her
          distinctive fusion of figuration and abstraction, with Rococo as a
          central influence. After transitioning from a background in graphic
          design to painting, she completed an MA at City & Guilds of London Art
          School. Her work explores themes of femininity and materiality,
          blending elements of high and low culture. Yukhnovich’s paintings are
          known for their sensuous and fluid compositions, where she
          reinterprets historical artistic styles through a contemporary lens.
        </p>
      </div>
    </section>

    <section class="flex-shrink-0 w-screen h-screen p-1 flex items-center">
      <div class="w-1/2 p-4">
        <img src="" alt="blomst her" class="w-full h-auto rounded-lg" />
      </div>
    </section>

    <section
      class="flex-shrink-0 w-screen h-screen p-9 flex flex-col justify-center items-center"
    >
      <h1 class="font-manrope text-sm">Seksjon 2</h1>
      <p class="text-3xl p-10">
        With Into the Woods, Ordrupgaard proudly presents Flora Yukhnovich in
        her first museum exhibition outside the UK. Known for her rising
        prominence in the art world, Yukhnovich brings together Rococo-inspired
        aesthetics and a modern sensibility that blurs the boundaries between
        fine art and popular culture. The exhibition invites visitors into a
        fantastical, enchanted forest where the conscious and unconscious meet.
        Here, historical and contemporary references intertwine—from classical
        figures like Venus to modern icons such as Nicki Minaj—with the female
        body serving as a central theme. Through her evocative visual language,
        Yukhnovich transcends traditional genre boundaries, offering an
        immersive and thought-provoking experience.
      </p>
    </section>

    <section class="flex-shrink-0 w-screen h-screen p-1 flex items-center">
      <div class="w-1/2 p-4">
        <img src="" alt="kunst her" class="w-full h-auto rounded-lg" />
      </div>
    </section>

    <section class="flex-shrink-0 flex flex-col justify-center items-center">
      <div class="w-1/2 p-4">
        <img src="" alt="blad her" class="w-full h-auto rounded-lg" />
      </div>
      <h1 class="font-manrope text-sm">Seksjon 3</h1>

      <banner class="text-6xl">
        "I think of nature as something both accidental and deliberate in the
        painting process.
      </banner>
      <div class="w-1/2 p-4">
        <img src="" alt="blomst her" class="w-full h-auto rounded-lg" />
      </div>
    </section>

    <h3 class="p-10 whitespace-nowrap text-xl">18 Sep. 24 – 19 Jan. 25</h3>
    <section class="flex-shrink-0 w-screen h-screen p-96 flex items-center">
      <div class="w-1/2 p-4">
        <img src="" alt="kunst her" class="w-full h-auto rounded-lg" />
      </div>
      <div class="w-1/2 p-4">
        <img src="" alt="kunst her" class="w-full h-auto rounded-lg" />
      </div>
      <div class="w-1/2 p-4 flex flex-col justify-center">
        <h1 class="font-manrope text-sm">Seksjon 4</h1>
        <p class="mt-4">
          Several of Yukhnovich’s portrayals of women are accompanied by titles
          that refer to delicious desserts. She thereby creates a slightly
          ironic distance to the erotic objectification of women which can be
          seen in many Rococo paintings. The title of this work, A Glass and a
          Half, has its origin in a slogan used by the British chocolate
          manufacturer, Cadbury. The slogan ‘A Glass and a Half’ was introduced
          by Cadbury in 1928 to emphasise the extra high milk content of their
          chocolate bars, presenting them as the creamiest on the market. On the
          right, In A Glass and a Half, Yukhnovich takes her point of departure
          in a painting by the French Rococo painter Jean-Honoré Fragonard. This
          painting, which hangs in the Louvre in Paris, depicts the story of the
          crusader Rinaldo in Armida’s enchanted gardens.
        </p>
      </div>
    </section>

    <div class="flex justify-end items-center h-screen w-screen">
      <div class="overflow-hidden h-full relative">
        <div class="animate-scroll">
          <p
            class="transform -rotate-90 text-4xl font-light tracking-widest whitespace-nowrap"
          >
            “The rococo has really become a vehicle for me to reflect on my
            experience of being a woman.” “The rococo has really become a
            vehicle for me to reflect on my experience of being a woman.” “The
            rococo has really become a vehicle for me to reflect on my
            experience of being a woman.” “The rococo has really become a
            vehicle for me to reflect on my experience of being a woman.”
          </p>
        </div>
      </div>
    </div>

    <h3 class="p-10 whitespace-nowrap text-xl">18 Sep. 24 – 19 Jan. 25</h3>
    <section class="flex-shrink-0 w-screen h-screen p-96 flex items-center">
      <div class="w-1/2 p-4">
        <img src="" alt="kunst her" class="w-full h-auto rounded-lg" />
      </div>
      <div class="w-1/2 p-4">
        <img src="" alt="kunst her" class="w-full h-auto rounded-lg" />
      </div>
      <div class="w-1/2 p-4">
        <img src="" alt="kunst her" class="w-full h-auto rounded-lg" />
      </div>
    </section>

    <section class="flex-shrink-0 w-screen h-screen p-96 flex items-center">
      <div class="w-1/2 p-4">
        <img src="" alt="kunst her" class="w-full h-auto rounded-lg" />
      </div>
      <div class="w-1/2 p-4 flex flex-col justify-center">
        <h1 class="font-manrope text-sm">Seksjon 5</h1>
        <p class="mt-4">
          The work Minuet is based on a painting by the Italian Rococo painter
          Giovanni Domenico Tiepolo. The painting, which hangs in the Louvre in
          Paris, depicts a dancing couple surrounded by masked spectators. The
          title, Minuet, refers specifically to a special, elegant dance for
          couples that dominated the aristocratic ballrooms of Europe from ca.
          1650–1750.
        </p>
        <p class="pt-2">
          In the work, Yukhnovich has also incorporated figures from the French
          Rococo painter Antoine Watteau’s depictions of commedia dell’arte.
          Commedia dell’arte is an Italian theatre form that originated in the
          16th century and is characterised by improvisation, comedic characters
          and masked figures such as Harlequin, Pierrot and Columbine.
        </p>
      </div>
    </section>

    <h3 class="p-10 whitespace-nowrap text-xl">18 Sep. 24 – 19 Jan. 25</h3>
    <section class="flex-shrink-0 w-screen h-screen p-96 flex items-center">
      <div class="w-1/2 p-4">
        <img src="" alt="kunst her" class="w-full h-auto rounded-lg" />
      </div>
      <div class="w-1/2 p-4">
        <img src="" alt="kunst her" class="w-full h-auto rounded-lg" />
      </div>
    </section>

    <section
      class="flex-shrink-0 w-screen h-screen p-9 flex flex-col justify-center items-center"
    >
      <h1 class="font-manrope text-sm">Seksjon 6</h1>
      <p class="text-3xl p-10">
        <section
          class="flex-shrink-0 w-screen h-screen p-9 flex flex-col justify-center items-center"
        >
          <h1 class="font-manrope text-sm">Seksjon 2</h1>
          <p class="text-3xl p-10">
            As you reach the end of this journey through Into the Woods, Flora
            Yukhnovich's captivating exploration of art history and contemporary
            culture, we invite you to experience these works in person. Step
            into the enchanted forest she has created, where the boundaries
            between fantasy and reality, past and present, dissolve. Whether
            you're drawn to the elegance of Rococo or intrigued by the blend of
            mythological and modern icons, Yukhnovich’s art offers a sensory
            experience that is both thought-provoking and visually stunning.
            Visit Ordrupgaard to immerse yourself in this unique exhibition and
            see how Yukhnovich reimagines the world of art for a new generation.
            Click here for futher information about the exhibition including
            prices and opening hours.
          </p>
        </section>
      </p>
    </section>

    <section
      class="flex-shrink-0 w-screen h-screen p-96 flex flex-col justify-center items-center"
    >
      <banner class="font-manrope text-5xl transform -rotate-90">
        Reviews</banner
      >
      <p></p>
    </section>

    <section
      class="flex-shrink-0 w-screen h-screen p-96 flex flex-col justify-center items-center"
    >
      <banner class="font-manrope text-5xl transform -rotate-90"
        >Newsletter</banner
      >
      <p></p>
    </section>

    <section
      class="flex-shrink-0 w-screen h-screen p-96 flex flex-col justify-center items-center"
    >
      <Udstillinger />
      <p></p>
    </section>
  </div>

  <script>
    const scrollContainer = document.getElementById("scroll-container");

    window.addEventListener(
      "wheel",
      (event) => {
        scrollContainer.scrollLeft += event.deltaY;

        event.preventDefault();
      },
      { passive: false }
    );

    const customCursor = document.querySelector(".custom-cursor");

    // Startposisjon for markøren
    let cursorX = 0,
      cursorY = 0;
    // Musens posisjon
    let mouseX = 0,
      mouseY = 0;

    // Oppdaterer musens posisjon ved bevegelse
    document.addEventListener("mousemove", (e) => {
      mouseX = e.pageX;
      mouseY = e.pageY;
    });

    // Funksjon som gjør at markøren "følger" musen med en delay
    function animateCursor() {
      // Beregner posisjonen med en liten forsinkelse
      cursorX += (mouseX - cursorX) * 0.1;
      cursorY += (mouseY - cursorY) * 0.1;

      // Setter posisjonen til markøren
      customCursor.style.left = `${cursorX}px`;
      customCursor.style.top = `${cursorY}px`;

      // Kaller funksjonen igjen på neste ramme for jevn animasjon
      requestAnimationFrame(animateCursor);
    }

    // Starter animasjonen
    animateCursor();
  </script>
</MainLayout>

<style>
  body {
    cursor: none;
  }

  .custom-cursor {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease;
  }
  .animate-scroll {
    display: flex;
    flex-direction: column;
    animation: scroll 1s linear infinite; /* Juster tidsintervallet etter behov */
  }

  @keyframes scroll {
    0% {
      transform: translateY(100%); /* Start under visningen */
    }
    100% {
      transform: translateY(-100%); /* Flytt opp til over visningen */
    }
  }
</style>
