---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Titel">
  <article class="flex">
    <h1 class="">Index overskrift</h1>
    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>
    <h2 class="p-10 text-red-600">fjdkals</h2>
    <h2 class="p-10 text-red-600">fjdalks</h2>
    <h2 class="p-10 text-red-600">xocpv</h2>
    <h2 class="p-10 text-red-600">qio</h2>
    <h2 class="p-10 text-red-600">i123901923</h2>
    <h2 class="p-10 text-red-600">bvcmbmxodofjsa</h2>
    <h2 class="p-10 text-red-600">agfhdjksl</h2>
    <h2 class="p-10 text-red-600">290139201309</h2>
    <h2 class="p-10 text-red-600">fsjdkafkd</h2>
    <h2 class="p-10 text-red-600">fajkdjfkadsf</h2>
    <h2 class="p-10 text-red-600">fjadoijofid</h2>
    <h2 class="p-10 text-red-600">213i90iofpds</h2>
    <h2 class="p-10 text-red-600">asdfghjk</h2>
    <h2 class="p-10 text-red-600">ælkjhgf</h2>
    <h2 class="p-10 text-red-600">i324i23904ewrjfdlk</h2>
    <h2 class="p-10 text-red-600">i324i23904ewrjfdlk</h2>
    <h2 class="p-10 text-red-600">i324i23904ewrjfdlk</h2>
    <h2 class="p-10 text-red-600">i324i23904ewrjfdlk</h2>
    <h2 class="p-10 text-red-600">i324i23904ewrjfdlk</h2>
    <h2 class="p-10 text-red-600">i324i23904ewrjfdlk</h2>
  </article>
</MainLayout>
