---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import "../styles/tailwind.css";
---

<MainLayout title="Titel">
  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    rel="stylesheet"
  />

  <article class="p-10">
    <h1 class="font-cormorant italic text-8xl p-10">Flora Yukhnovich</h1>
    <h2 class="font-manrope text-3xl p-10">Into the Woods</h2>
    <p></p>
  </article>
</MainLayout>
