---
const { omtale, stjerner, anmelder } = Astro.props;
---

<article class="font-manrope">
  <h4 class="text-xl">{anmelder}</h4>
  <p>{stjerner}</p>
  <p class="text-sm w-[600px]">
    {omtale}
  </p>
</article>
