---

---

<div>
  <nav id="desktopmenu" class="">
    <ul class="justify-end">
      <li class=""><a href="">Om kunstneren</a></li>
      <li class=""><a href="">Om værkerne</a></li>
      <li class=""><a href="">Anmeldelser</a></li>
      <li class="">(ENG / DK)</li>
      <li class="">music</li>
    </ul>
  </nav>
</div>
