---

---

<div class="flex justify-between h-20">
  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <img class="p-2 h-2/3" src="/logo.svg" alt="" />
  <nav id="desktopmenu" class="mr-2 flex flex-col items-end uppercase p-5">
    <ul class="flex space-x-8">
      <li class="">
        <a href="">Om kunstneren</a>
      </li>
      <li class=""><a href="">Om værkerne</a></li>
      <li class=""><a href="">Anmeldelser</a></li>
      <li class="">(eng / dk)</li>
    </ul>
    <ul>
      <li class="ml-8 mt-2">
        <button id="playPauseButton">MUSIC</button>

        <audio id="backgroundMusic" autoplay loop>
          <source src="yoga.mp3" type="audio/mpeg" />
        </audio>
      </li>
    </ul>
  </nav>

  <script>
    const music = document.getElementById("backgroundMusic");
    const playPauseButton = document.getElementById("playPauseButton");

    playPauseButton.addEventListener("click", () => {
      if (music.paused) {
        music.play();
        playPauseButton.classList.remove("muted");
      } else {
        music.pause();
        playPauseButton.classList.add("muted");
      }
    });
  </script>

  <style>
    #playPauseButton {
      background: none;
      border: none;
      color: #000;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
    }

    #playPauseButton.muted {
      text-decoration: line-through;
      color: #000000;
    }
  </style>
</div>
