---

---

<div class="flex flex-col items-center justify-center min-h-screen">
  <form class="flex flex-col items-center">
    <h2 class="font-manrope text-center mb-4 text-4xl font-bold">
      Sign up for our newsletter!
    </h2>

    <label for="name" class="sr-only">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Your name"
      required
      class="mb-3 placeholder:text-1xl placeholder:font-manrope font-cormorant placeholder:text-black placeholder:text-center text-center bg-transparent"
    />

    <label for="email" class="sr-only">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Your email"
      required
      class="mb-3 placeholder:text-1xl placeholder:font-manrope font-cormorant placeholder:text-black placeholder:text-center text-center bg-transparent"
    />

    <h2 class="text-center mb-4 font-manrope text-2xl w-96 font-manrope">
      Get news about exhibitions, events and exclusive offers from Ordrupgaard
    </h2>

    <div class="flex items-center mb-2 font-manrope text-sm">
      <input
        type="checkbox"
        id="processData"
        name="processData"
        required
        class="appearance-none h-4 w-4 rounded-full border border-gray-400 transition hover:bg-detail checked:bg-primary checked:border-primary focus:outline-none mr-2"
      />
      <label for="processData">
        Authorize Ordrupgaard to process your personal data
      </label>
    </div>

    <div class="flex items-center mb-4 font-manrope text-sm">
      <input
        type="checkbox"
        id="shareMarketing"
        name="shareMarketing"
        required
        class="appearance-none h-4 w-4 rounded-full border border-gray-400 transition hover:bg-detail checked:bg-primary checked:border-primary focus:outline-none mr-2"
      />
      <label for="shareMarketing">
        Authorize Ordrupgaard to share your email for marketing purposes
      </label>
    </div>

    <button
      type="submit"
      class="py-2 px-4 font-manrope border border-black hover:bg-gray-100 focus:outline-none"
    >
      Subscribe
    </button>
  </form>
</div>
