---

---

<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="font-manrope text-5xl transform -rotate-90">
    <banner>Tidligere</banner>
  </div>
  <div>
    <ul class="">
      <li class="p-5">
        <a href="">AI WEIWEI – WATER LILIES #1</a>
        <p class="underline">31. maj 2024 – 19. januar 2025</p>
      </li>
      <li class="p-5">
        <a href="">RUNE BOSSE - BAGVED OVERFLADEN</a>
        <p class="underline">6. april – 3. november 2024</p>
      </li>
      <li class="p-5">
        <a href="">IMPRESSIONISMEN OG DENS OVERSETE KVINDER</a>
        <p class="underline">9. februar – 20. maj 2024</p>
      </li>
      <li class="p-5">
        <a href=""> STRONG VERONICA HODGES – UNDER TRÆET STRONG</a>
        <p class="underline">19. april – 1. november 2023</p>
      </li>
      <li class="p-5">
        <a href="">UNDERFUNDIGE UNDERVERDENER. GAUGUIN OG LILJA</a>
        <p class="underline">24. marts - 25. juni 2023</p>
      </li>
      <li class="p-5">
        <a href="">JESPER CHRISTIANSEN</a>
        <p class="underline">1. februar - 3. september 2023</p>
      </li>
      <li class="p-5">
        <a href="">SAMLINGERNE</a>
        <p class="underline">Fast udstilling</p>
      </li>
    </ul>
  </div>
</div>
