---

---

<div class="flex p-0">
  <div class="flex flex-col justify-end font-manrope pb-20">
    <div class="w-[50vw] font-thin relative">
      <dl class="w-full">
        <div class="relative group">
          <article class="hover:text-accent">
            <dt class="text-xl font-medium">AI WEIWEI – WATER LILIES #1</dt>
            <dd class="text-xs">31. maj 2024 – 19. januar 2025</dd>
            <hr class="mb-5 mt-1 border-t border-black" />
          </article>
          <img
            src="/src/assets/images/aiweiwei.webp"
            alt="AI WEIWEI image"
            class="absolute top-[-50px] opacity-0 group-hover:opacity-100 transition-opacity duration-3 00"
          />
        </div>

        <div class="relative group">
          <article class="hover:text-accent">
            <dt class="text-xl font-medium">RUNE BOSSE - BAGVED OVERFLADEN</dt>
            <dd class="text-xs">6. april – 3. november 2024</dd>
            <hr class="mb-5 mt-1 border-t border-black" />
          </article>
          <img
            src="/src/assets/images/overfladen.webp"
            alt="RUNE BOSSE image"
            class="absolute top-[-50px] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          />
        </div>
        <div class="relative group">
          <article class="hover:text-accent">
            <dt class="text-xl font-medium">
              IMPRESSIONISMEN OG DENS OVERSETE KVINDER
            </dt>
            <dd class="text-xs">9. februar – 20. maj 2024</dd>
            <hr class="mb-5 mt-1 border-t border-black" />
          </article>
          <img
            src="/src/assets/images/impressionismen.webp"
            alt="RUNE BOSSE image"
            class="absolute top-[-50px] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          />
        </div>
        <div class="relative group">
          <article class="hover:text-accent">
            <dt class="text-xl font-medium">VERONICA HODGES – UNDER TRÆET</dt>
            <dd class="text-xs">19. april – 1. november 2023</dd>
            <hr class="mb-5 mt-1 border-t border-black" />
          </article>
          <img
            src="/src/assets/images/veronics.webp"
            alt="RUNE BOSSE image"
            class="absolute top-[-50px] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          />
        </div>
        <div class="relative group">
          <article class="hover:text-accent">
            <dt class="text-xl font-medium">
              UNDERFUNDIGE UNDERVERDENER. GAUGUIN OG LILJA
            </dt>
            <dd class="text-xs">24. marts - 25. juni 2023</dd>
            <hr class="mb-5 mt-1 border-t border-black" />
          </article>
          <img
            src="/src/assets/images/underfundige.webp"
            alt="RUNE BOSSE image"
            class="absolute top-[-70px] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          />
        </div>
        <div class="relative group">
          <article class="hover:text-accent">
            <dt class="text-xl font-medium">JESPER CHRISTIANSEN</dt>
            <dd class="text-xs">1. februar - 3. september 2023</dd>
            <hr class="mb-5 mt-1 border-t border-black" />
          </article>
          <img
            src="/src/assets/images/jesperc.webp"
            alt="RUNE BOSSE image"
            class="absolute top-[-100px] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          />
        </div>
        <div class="relative group">
          <article class="hover:text-accent">
            <dt class="text-xl font-medium">SAMLINGERNE</dt>
            <dd class="text-xs">Fast udstilling</dd>
            <hr class="mb-5 mt-1 border-t border-black" />
          </article>
          <img
            src="/src/assets/images/samlingerne.webp"
            alt="RUNE BOSSE image"
            class="absolute top-[-130px] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          />
        </div>
      </dl>
    </div>
  </div>
</div>

<style>
  img {
    z-index: 100;
    left: 80%;
    width: 50%;
  }
</style>
