---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
import "animate.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&family=Cormorant:ital,wght@0,300;1,300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer></script>

    <title>{Astro.props.title}</title>
    <style>
      @keyframes load-up {
        0% {
          opacity: 10%;
        }
        100% {
        }
      }
      .load-animation {
        animation: load-up 3s ease forwards;
      }
    </style>
  </head>

  <body class="overflow-x-hidden">
    <div
      id="preloader"
      class="fixed inset-0 flex items-center justify-center bg-white z-50"
    >
      <img
        src="logo.svg"
        alt="Logo"
        id="logo"
        class="w-32 h-32 load-animation"
      />
    </div>

    <header>
      <Header />
    </header>

    <main class="">
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>

    <script>
      const password = prompt("Enter the password to access this site:");
      if (password !== "1234") {
        alert("Incorrect password!");
        window.location.href = "https://www.isitfridayyet.net/";
      }
    </script>

    <script src="/preloader.js"></script>
    <script type="module" src="/fade-in.js" is:inline></script>
  </body>
</html>
